<template>
    <div id="class">
        <h2>CLASS</h2>
        <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-vocal-tab" data-bs-toggle="pill" data-bs-target="#pills-vocal" type="button" role="tab" aria-controls="pills-vocal" aria-selected="true">VOCAL</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-acting-tab" data-bs-toggle="pill" data-bs-target="#pills-acting" type="button" role="tab" aria-controls="pills-acting" aria-selected="false">ACTING</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-dance-tab" data-bs-toggle="pill" data-bs-target="#pills-dance" type="button" role="tab" aria-controls="pills-dance" aria-selected="false">DANCE</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-modelling-tab" data-bs-toggle="pill" data-bs-target="#pills-modelling" type="button" role="tab" aria-controls="pills-modelling" aria-selected="false">MODELLING</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-speaking-tab" data-bs-toggle="pill" data-bs-target="#pills-speaking" type="button" role="tab" aria-controls="pills-speaking" aria-selected="false">PUBLIC
                    SPEAKING</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-music-tab" data-bs-toggle="pill" data-bs-target="#pills-music" type="button" role="tab" aria-controls="pills-music" aria-selected="false">MUSIC</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-vocal" role="tabpanel" aria-labelledby="pills-vocal-tab">

                <div class="container mt-5">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3>Why Us</h3>
                            <p class="mb-5">Engage in one of Jakarta's most vibrant classes as you improve on your vocals skills through an emphasis on exercise and performance. Star Harvest is home to coaches who have worked with and trained Indonesian Idol, Miss Indonesia,
                                XFactor and Rising Star amongst many others. Learn from the best and become a world class performer.</p>
                        </div>
                        <div class="col-lg-6">
                            <div class="bg">
                                <h3>Vocal Curriculum</h3>
                                <p class="fst-italic">"Music can change the world" - <b>Beethoven</b></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="our-class">
                    <div class="container">
                        <div class="bg">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <img src="../assets/img/class/vocal.png" width="350" height="350" alt="img">
                                </div>
                                <div class="col-lg-6">
                                    <h3>Our Classes</h3>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <ul>
                                                <li>Basic</li>
                                                <li>Vocalisation</li>
                                                <li>Articulation</li>
                                                <li>Intonation</li>
                                                <li>Phrasing</li>
                                                <li>Exercise & Performance</li>
                                                <li>Intermediate</li>
                                                <li>Resonance</li>
                                                <li>Tempo</li>
                                            </ul>
                                        </div>

                                        <div class="col-lg-6">
                                            <ul>
                                                <li>Basic</li>
                                                <li>Vocalisation</li>
                                                <li>Articulation</li>
                                                <li>Intonation</li>
                                                <li>Phrasing</li>
                                                <li>Exercise & Performance</li>
                                                <li>Intermediate</li>
                                                <li>Resonance</li>
                                                <li>Tempo</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="pills-acting" role="tabpanel" aria-labelledby="pills-acting-tab">

                <div class="container mt-5">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3>Why Us</h3>
                            <p class="mb-5">Acting is an art form. Learn the art of characterisation and creation of performance as we explore in depth the pursuit of becoming someone else. Star Harvest acting classes will dive into what it means to be a great actor
                                and how to change your environment by first changing yourself.</p>
                        </div>
                        <div class="col-lg-6">
                            <div class="bg">
                                <h3>Acting Curriculum</h3>
                                <p class="fst-italic">"It's what I learn from the great actors that I work with. Stillness. That's all and that's the hardest thing"</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="our-class">
                    <div class="container">
                        <div class="bg">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <img src="../assets/img/class/acting.png" width="350" height="350" alt="img">
                                </div>
                                <div class="col-lg-6">
                                    <h3>Our Classes</h3>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <ul>
                                                <li>Basic</li>
                                                <li>Vocal and Voice Exercises</li>
                                                <li>Focus & Concentration</li>
                                                <li>Action & Recreation</li>
                                                <li>Performance</li>
                                                <li>Intermediate</li>
                                                <li>Reading technique</li>
                                                <li>Responding Technique</li>
                                                <li>Stage Technique</li>
                                            </ul>
                                        </div>

                                        <div class="col-lg-6">
                                            <ul>
                                                <li>Character observation</li>
                                                <li>Character deepening techniques</li>
                                                <li>Reading & Casting techniques</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="pills-dance" role="tabpanel" aria-labelledby="pills-dance-tab">

                <div class="container mt-5">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3>Why Us</h3>
                            <p class="mb-5">Experience the confidence and articulation it takes to be a stage performer. Build your confidence with Star Harvest Academy in stage performance, with inclusive one-on-one or group sessions with the industries best, helping
                                you gain confidence and become more comfortable in your own skin.</p>
                        </div>
                        <div class="col-lg-6">
                            <div class="bg">
                                <h3>Dance Curriculum</h3>
                                <p class="fst-italic">"Dance is the joy of movement and the heart of life"</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="our-class">
                    <div class="container">
                        <div class="bg">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <img src="../assets/img/class/dance.png" width="350" height="350" alt="img">
                                </div>
                                <div class="col-lg-6">
                                    <h3>Our Classes</h3>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <ul>
                                                <li>Basic</li>
                                                <li>Motion Recognition</li>
                                                <li>Soul & Movement</li>
                                                <li>Music in motion</li>
                                                <li>Exercise & Practice</li>
                                                <li>Voice processing</li>
                                                <li>Mastery of the stage</li>
                                                <li>Self Expression</li>
                                                <li>Advance</li>
                                            </ul>
                                        </div>

                                        <div class="col-lg-6">
                                            <ul>
                                                <li>Improvisation & Exploration</li>
                                                <li>Interaction</li>
                                                <li>Imagination</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="pills-modelling" role="tabpanel" aria-labelledby="pills-modelling-tab">

                <div class="container mt-5">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3>Why Us</h3>
                            <p class="mb-5">Star Harvest Academy Modelling classes will elevate your posture and style. With 3 different classes learn how to control your body language both on and off the runway to draw attention. You will learn how to pose and choreograph
                                body language in a way that would make you pop.</p>
                        </div>
                        <div class="col-lg-6">
                            <div class="bg">
                                <h3>Modelling Curriculum</h3>
                                <p class="fst-italic">"Everyday is a fashion show and the world is your runway" - Coco Chanel</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="our-class">
                    <div class="container">
                        <div class="bg">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <img src="../assets/img/class/modelling.png" width="350" height="350" alt="img">
                                </div>
                                <div class="col-lg-6">
                                    <h3>Our Classes</h3>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <ul>
                                                <li>Basic</li>
                                                <li>Posture</li>
                                                <li>Basic Catwalk</li>
                                                <li>Pose & Expression</li>
                                                <li>Beat & Rytheme</li>
                                                <li>Intermediate</li>
                                                <li>Modified Catwalk</li>
                                                <li>Expression</li>
                                                <li>Choreography</li>
                                            </ul>
                                        </div>

                                        <div class="col-lg-6">
                                            <ul>
                                                <li>Advance</li>
                                                <li>Model attributes & skills</li>
                                                <li>Modified Catwalk</li>
                                                <li>Camera pose</li>
                                                <li>Choreography</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="pills-speaking" role="tabpanel" aria-labelledby="pills-speaking-tab">

                <div class="container mt-5">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3>Why Us</h3>
                            <p class="mb-5">Learn how to articulate yourself in public with Star Harvest Academy public speaking course. Learn from the best speakers in the entertainment industry who will help guide you through gaining confidence in speaking. This course
                                also teaches you personal development and the theory behind public speaking which will help take your speaking skills to the next level and enable you to communicate clearer in work, relationships, school and everyday life.</p>
                        </div>
                        <div class="col-lg-6">
                            <div class="bg">
                                <h3>Public Speaking Curriculum</h3>
                                <p class="fst-italic">"If you can speak you can influence, if you can influence you can change lives"</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="our-class">
                    <div class="container">
                        <div class="bg">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <img src="../assets/img/class/speaking.png" width="350" height="350" alt="img">
                                </div>
                                <div class="col-lg-6">
                                    <h3>Our Classes</h3>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <ul>
                                                <li>Introduction to Public Speaking</li>
                                                <li>Announcing Skills</li>
                                                <li>Personality Development</li>
                                                <li>Theory of Public Speaking</li>
                                                <li>Practice</li>
                                                <li>Journalism/ Live Reporting</li>
                                            </ul>
                                        </div>

                                        <div class="col-lg-6">
                                            <ul>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="pills-music" role="tabpanel" aria-labelledby="pills-music-tab">

                <div class="container mt-5">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3>Why Us</h3>
                            <p class="mb-5">Star Harvest Academy Music Class takes a spin on the usual music class. With a focus on performance, immerse yourself into the world of entertainment and get taught by industry experts. Learn what it takes to be a music performer
                                and hone in on your skills. Classes are available for all ages and experience levels.</p>
                        </div>
                        <div class="col-lg-6">
                            <div class="bg">
                                <h3>Music Curriculum</h3>
                                <p class="fst-italic">"Music is the closest thing to magic"</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="our-class">
                    <div class="container">
                        <div class="bg">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <img src="../assets/img/class/music.png" width="350" height="350" alt="img">
                                </div>
                                <div class="col-lg-6">
                                    <h3>Our Classes</h3>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <ul>
                                                <li>Basic</li>
                                                <li>Gestures</li>
                                                <li>Finger strengthening</li>
                                                <li>Tone difference</li>
                                                <li>Dynamic Tempo</li>
                                                <li>Intermediate</li>
                                                <li>Keys and time marks</li>
                                                <li>Practice & Exercise</li>
                                                <li>Choreography</li>
                                            </ul>
                                        </div>

                                        <div class="col-lg-6">
                                            <ul>
                                                <li>Advance</li>
                                                <li>Cover Songs</li>
                                                <li>We focus on safety in our Music Classes</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</template>

<style>

#class {
    padding: 70px 0 0 0;
    background: linear-gradient(90deg, rgba(255, 202, 0, 0.33) 0%, rgba(217, 217, 217, 0) 100%);
}

#class .bg {
    background-color: #FFFFFF;
    padding: 20px 15px 2px 15px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
    height: auto;
}

#class h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 50px;
}

#class .nav-pills .nav-link {
    background: #FFFFFF;
    color: #000;
    border-radius: 12px;
    margin: 5px 10px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
}

#class .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #000;
    background-color: #ACD6FF;
    border-radius: 12px;
}

#our-class {
    padding: 70px 0;
    background-color: #F8F8F8;
}

#our-class img {
    display: block;
    width: 100%;
    max-width: 350px;
    margin: 30px auto;
    height: 350px;
    object-fit: contain;
    mix-blend-mode: multiply;
}

#our-class .bg {
    background-color: #FBFBFB;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
}</style>