<script>
import { defineComponent } from 'vue';
import '@splidejs/vue-splide/css';
import { Splide, SplideSlide } from '@splidejs/vue-splide';

export default defineComponent( {
  components: {
    Splide,
    SplideSlide,
  },

  setup() {
    const head = {
      rewind: true,
      gap   : '1rem',
      autoplay: true,
    };

    return { head };
  },
} );
</script>

<template>
    <div id="header">
        <Splide :options="head" aria-label="My Favorite Images">
        <SplideSlide>
            <img src="../assets/img/header/gambar.png" class="img-head-splide" alt="img">
              <div class="centered">
                  <h2>ANWAR BAB</h2>
                  <h3>Comedian</h3>
              </div>
        </SplideSlide>
        <SplideSlide>
            <img src="../assets/img/header/gambar.png" class="img-head-splide" alt="img">
            <div class="centered">
                <h2>ANWAR BAB</h2>
                <h3>Comedian</h3>
            </div>
        </SplideSlide>
        </Splide>
    </div>
  </template>


<style>
#header {
  margin-top: 60px;
}

#header .img-head-splide {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
}

#header .centered {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0, 0.7);
    text-align: center;
    padding: 20px 50px;
    border-radius: 12px;
    width: 350px;
}

#header h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

#header h3 {
    color: #fff;
    font-size: 16px;
}

#header p {
    color: #fff;
}

@media screen and (max-width:1023px) {
    #header img.img-head-splide {
        display: block;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        height: auto;
        min-width: 0;
        min-height: 0
    }
    #header .centered {
        position: relative;
        bottom: -45px;
        left: 50%;
        border-radius: 0;
        width: 100%;
    }
    #header h2 {
        color: #fff;
        font-size: 16px;
    }
    #header h3 {
        color: #fff;
        font-size: 14px;
    }
    #header p {
        color: #fff;
        font-size: 14px;
    }
}

</style>