<template>
        <div id="join">
        <div class="container">
            <h2>JOIN THE ACADEMY</h2>
            <p>And take part in any of our 6 immersive talent classes on campus or online.</p>
            <div class="d-flex align-items-center justify-content-center flex-wrap gap-3">
                <a href="">
                    <div class="enrol">ENROL NOW</div>
                </a>
                <a href="">
                    <div class="online">ONLINE CLASS</div>
                </a>
            </div>
        </div>
    </div>
</template>

<style>
#join {
    padding: 70px 0;
    background: linear-gradient(90deg, rgba(255, 238, 238, 1) 0%, rgba(255, 209, 209, 0) 100%);
}

#join h2 {
    text-align: center;
    font-weight: 600;
}

#join p {
    text-align: center;
}

#join .enrol {
    background-color: #444444;
    color: #f4f4f4;
    padding: 10px 25px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-size: 14px;
}

#join .online {
    background-color: #FF924C;
    color: #000;
    padding: 10px 25px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-size: 14px;
}</style>